<html>
    <head>
        {% if title %}
        <title>{{ title }} microblog </title>
        {% else %} 
        <title> home </title>
        {% endif %}
    </head>
    <body>
        <div>blog: 
            <a href="{{ url_for('index') }}">home</a>
            <a href="{{ url_for('login') }}">login</a>
        </div>
        <hr>
        <ul>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <li> {{ messages }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>